$height: 0.55em + 0.67em;

.hour{
  min-height: $height;
  .zeroIndent {
    margin: 0;
    padding: 0;
  }
  .caption {
    @extend .zeroIndent;
    padding-left: 10px;
    color: #2a0505;
    font-weight: bold;
    font-style: italic;
  }
  .text {
    @extend .zeroIndent;
    color: #01062f;
    font-size: 0.55em;
  }
}
.has-note {
  background-color: #c2c8f9;
}
